.carousel-container {
    width: 100%;

    .mySwiper2 {
        width: 100%;
        height: 28.5vw;
    }

    @media (max-width: 1300px) {
        .mySwiper2 {
            height: 35vw;
        }
    }

    @media (max-width: 640px) {
        .mySwiper2 {
            height: 75vw;
        }
    }

    .mySwiper .swiper-slide {
        opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    @media (max-width: 640px) {
        .swiper-wrapper {
            width: 85vw;
        }
    }

    .mainSwiper .swiper-pagination {
        display: none;
    }

    @media (max-width: 648px) {
        .mainSwiper .swiper-pagination {
            display: block;
        }
    }

    .thumbsSwiper {
        display: block;
    }

    @media (max-width: 648px) {
        .thumbsSwiper {
            display: none;
        }
    }
}

.carousel-image-p {
    height: 27.5vw;
    border-radius: 1rem;

    @media (max-width: 1300px) {
        height: 33.5vw;
    }

    @media (max-width: 640px) {
        height: 65vw;
    }
}

.carousel-thumb-images {
    height: 5.5vw;
    border-radius: 1rem;

    @media (max-width: 1300px) {
        height: 7vw;
    }

    @media (max-width: 640px) {
        height: 10.5vw;
    }
}
